{% load static %}

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Post</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="{% static 'css/upload.png' %}" alt="Upload Icon" class="m-1 mb-3">
          <div class="mb-3">
            <label for="image_upload" class="form-label">Photo</label>
            <input type="file" class="form-control" name="image_upload" id="image_upload" required>
          </div>
          <div class="mb-3">
            <label for="caption" class="form-label">Caption</label>
            <textarea class="form-control" name="caption" id="caption" placeholder="Write your caption..." required></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Create Post</button>
        </div>
      </form>
    </div>
  </div>
</div>
